---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8X7HTJ0NEQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8X7HTJ0NEQ');
    </script>

    
    
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
        <!-- 粘贴访客计数器代码片段 -->
        <div class="visitor-counter">
          <script type="text/javascript">
            var sc_project=12940346; 
            var sc_invisible=0; 
            var sc_security="940d3e6d"; 
            var scJsHost = "https://";
            document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
            "statcounter.com/counter/counter.js'></"+"script>");
          </script>
          <noscript>
            <div class="statcounter">
              <a title="Web Analytics Made Easy - Statcounter" href="https://statcounter.com/" target="_blank">
                <img class="statcounter" src="https://c.statcounter.com/12940346/0/940d3e6d/0/" alt="Web Analytics Made Easy - Statcounter" referrerPolicy="no-referrer-when-downgrade">
              </a>
            </div>
          </noscript>
        </div>
        <style>
          .visitor-counter {
            /* 添加自定义样式 */
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
          }
          
          .visitor-counter img {
            /* 添加动画效果 */
            transition: transform 0.3s ease-in-out;
          }
          
          .visitor-counter img:hover {
            transform: scale(1.1);
          }
        </style>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
