---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8X7HTJ0NEQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8X7HTJ0NEQ');
    </script>
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}
    {{ content }}
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
        <!-- 粘贴访客计数器代码片段 -->
        <div class="visitor-counter">
          <script type="text/javascript">
            var sc_project=12940346; 
            var sc_invisible=0; 
            var sc_security="940d3e6d"; 
            var scJsHost = "https://";
            document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
            "statcounter.com/counter/counter.js'></"+"script>");
            // 获取访客计数器的数字
            function getVisitorCount() {
              return document.querySelector('.statcounter').innerText.trim();
            }
            // 根据访客计数显示句子
            function displayVisitorSentence() {
              var visitorCount = parseInt(getVisitorCount());
              var sentence = "You are my ";
              if (visitorCount == 1) {
                sentence += "1st";
              } else if (visitorCount == 2) {
                sentence += "2nd";
              } else if (visitorCount == 3) {
                sentence += "3rd";
              } else {
                sentence += visitorCount + "th";
              }
              sentence += " visitor!";
              document.getElementById("visitor-sentence").innerText = sentence;
            }
            // 在页面加载后显示句子
            window.addEventListener('load', function() {
              displayVisitorSentence();
            });
          </script>
          <noscript>
            <div class="statcounter">
              <a title="Web Analytics Made Easy - Statcounter" href="https://statcounter.com/" target="_blank">
                <img class="statcounter" src="https://c.statcounter.com/12940346/0/940d3e6d/0/" alt="Web Analytics Made Easy - Statcounter" referrerPolicy="no-referrer-when-downgrade">
              </a>
            </div>
          </noscript>
        </div>
        <p id="visitor-sentence"></p>
        <style>
          .visitor-counter {
            /* 添加自定义样式 */
            text-align: center;
          }
          .visitor-counter .statcounter {
            /* 调整字体大小 */
            font-size: 96px;
          }
        </style>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
